<div class="body-login"></div>
  <mat-card class="box-login">
    <form [formGroup]="form">
      <mat-card-header class="box-login-header">
        <mat-card-title>
          <mat-icon>lock</mat-icon>
          <span>Login</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div formGroupName="login">
          <mat-form-field class="box-login-field">
            <input matInput placeholder="Informe seu usuário" type="text" class="example-right-align"
                   formControlName="username">
            <button mat-icon-button matPrefix>
              <mat-icon>account_circle</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="box-login-field">
            <input matInput placeholder="Informe sua senha" [type]="hide ? 'password' : 'text'"
                   formControlName="password">
            <button mat-icon-button matPrefix>
              <mat-icon>lock</mat-icon>
            </button>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide" class="btn btn-primary">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button class="btn-login" mat-button (click)="onSubmit()">
          <mat-icon>exit_to_app</mat-icon>
          Entrar
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
