<app-breadcrumb (eventBreadcrumb)="receiverBreadcrumb($event)"></app-breadcrumb>
<app-tab-operations></app-tab-operations>
<div class="form-container">

    <h4>{{breadCrumb.operation}} {{breadCrumb.function}}</h4>
    <mat-divider></mat-divider>

    <form [formGroup]="form">
        <div formGroupName="operacao">
            <div class="row">
                <mat-form-field class="col-md-4">
                    <input matInput placeholder="Nome" formControlName="nome">
                </mat-form-field>
                <mat-form-field class="col-md-4">
                    <input matInput placeholder="Icone" formControlName="icone">
                </mat-form-field>
                <mat-form-field class="col-md-4">
                    <input matInput placeholder="Rota" formControlName="rota">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-md-6">
                    <input matInput placeholder="Descrição" formControlName="descricao">
                </mat-form-field>                
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button mat-raised-button color="primary" (click)="onReset()">
                    <mat-icon>delete_sweep</mat-icon>
                    Limpar
                </button>
                <button mat-raised-button color="primary" (click)="onSubmit()" >
                <mat-icon>add</mat-icon>
                Cadastrar
                </button>
            </div>
        </div>
    </form>
</div>