<app-breadcrumb (eventBreadcrumb)="receiverBreadcrumb($event)"></app-breadcrumb>

<div class="form-container">

  <div class="title-page">
    {{breadCrumb.operation}} {{breadCrumb.function}}
  </div>

  <mat-divider></mat-divider>

  <fieldset>
    <legend>
      <mat-icon>drag_indicator</mat-icon>
      Buscar
    </legend>
    <form [formGroup]="form" #ngForm>
      <mat-form-field>
        <input matInput placeholder="Nome da operação" formControlName="nome">
      </mat-form-field>

      <div class="form-container-button">
        <button mat-raised-button color="warn" (click)="onLimpar()">
          <mat-icon>delete_sweep</mat-icon>
          Limpar
        </button>
        <button mat-raised-button color="primary" (click)="onBuscar()">
          <mat-icon>zoom_in</mat-icon>
          Buscar
        </button>
      </div>

    </form>
  </fieldset>

</div>

<div class="data-table-container">

  <fieldset>

    <legend>
      <app-options (responseAction)="reciverAction($event)" [itemsSelected]="selection.selected"></app-options>
    </legend>
    <mat-progress-spinner *ngIf="loadDataSource" [mode]="'indeterminate'"></mat-progress-spinner>

    <div [ngClass]="{'show-table': !loadDataSource, 'hide-table': loadDataSource}">

      <mat-form-field class="data-table-search">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
      </mat-form-field>

      <div class="mat-elevation-z8">

        <div class="download-datatable">
          <button mat-raised-button color="primary" (click)="printPdf()">
            <mat-icon>picture_as_pdf</mat-icon>
            Download
          </button>
        </div>

        <table mat-table [dataSource]="listData" matSort>

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
            <td mat-cell *matCellDef="let data"> {{data.id}} </td>
          </ng-container>

          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome</th>
            <td mat-cell *matCellDef="let data"> {{data.nome}} </td>
          </ng-container>

          <ng-container matColumnDef="descricao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrição</th>
            <td mat-cell *matCellDef="let data"> {{data.descricao}} </td>
          </ng-container>

          <ng-container matColumnDef="dh_atu">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Data/Hora Atualização</th>
            <td mat-cell *matCellDef="let data"> {{data.dhAtu | date : 'dd/MM/yyyy HH:mm:ss'}} </td>
          </ng-container>

          <ng-container matColumnDef="usu_atu">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario Atualização</th>
            <td mat-cell *matCellDef="let data"> {{data.cdUsuAtu}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let data; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>

        </table>

        <mat-paginator [length]="totalElements"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="pageSizeOptions"
                       showFirstLastButtons
                       [pageIndex]="currentPage"
                       (page)="onPaginateChange($event)">
        </mat-paginator>

      </div>

    </div>

  </fieldset>

</div>
