@import "theme";
@import "breakpoints";
@import "~bootstrap/scss/bootstrap-grid";

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component that you are using.
@include angular-material-theme($app-theme);
@include mat-checkbox-theme($app-theme);

body {
  margin: 0;
  height: 100vh;
  font-family: Roboto, Arial, sans-serif;
  font-size: 13px;
  color: #292a1d;
}

a {
  text-decoration-color: mat-color($app-primary);
  color: mat-color($app-primary);
}

.container-app {
  padding: 8px 14px 108px 14px;
}

footer {
  background-color: mat-color($app-primary);
  color: #ffffff;
  padding: 15px;
  font-size: 12px;
}
/*

.overlay {
  background-color:#EFEFEF;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000 !important;
  top: 0px;
  left: 0px;
  opacity: .5; !* in FireFox *!
  filter: alpha(opacity=50); !* in IE *!
}
*/

.img-avatar {
  background-image: url("assets/icons/icon-avatar.png");
  background-size: cover;
}

.fixed-topnav {
  height: 54px !important;
}

.box-logo {
  width: 255px;
  height: 47px;
  background-color: #ffffff;
  -webkit-box-shadow: -1px -3px 7px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -1px -3px 7px 3px rgba(0, 0, 0, 0.25);
  box-shadow: -1px -3px 7px 3px rgba(0, 0, 0, 0.25);
  box-shadow: -1px -3px 7px 3px rgba(0, 0, 0, 0.25);
}

.box-logo .mat-icon {
  color: rgba(0, 0, 0, 0.54);
}

.box-logo img {
  height: 47px;
  margin-left: 70px;
}

.topbar-right {
  position: relative;
  left: -10px;
}

table {
  width: 100%;
}

.mat-tab-link {
  min-width: 135px !important;
  padding: 0 0 !important;
}

.form-container {
  border: none;
  padding: 10px 0 0 10px !important;
}

.form-container > * {
  width: 100%;
  margin-top: 10px;
}

.form-container-button {
  margin-top: 10px;
  overflow: hidden;
}

.form-container-button button {
  float: left;
}

.form-container h4 {
  margin-block-start: 1em !important;
  margin-block-end: 1em !important;
  color: #7d7d7d;
}

.form-container .mat-divider {
  padding-bottom: 10px;
}
.form-container fieldset legend mat-icon{
  width: 10px !important;
  font-size: 14px !important;
  position: relative;
  top: 2px;
}
.show-table {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s ease-out;
}

.hide-table {
  visibility: hidden;
  opacity: 0;
}

.snack-bar-container {
  /*&.error {
    background-color: mat-color($app-warn);
  }

  &.warning {
    background-color: mat-color($app-dark-warn);
  }

  &.info {
    background-color: mat-color($app-accent);
  }*/
}

.center-page {
  display: flex;
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  align-items: center;
  text-align: center;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: mat-color($app-primary);
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

.box-login {
  max-width: 300px;
  margin: 0 auto;
  top: 120px;
  background-color: transparent !important;
  padding: 5px !important;
}

.box-login .mat-card-actions {
  margin-left: 0px;
}

.box-login .mat-card-content {
  margin-top: 10px;
}

.box-login-field {
  /*padding: 10px 0 10px 0 !important;*/
}

.box-login-field button .mat-icon {
  color: #7d7d7d;
}

.box-login-header .mat-card-title .mat-icon {
  font-size: 15px;
  position: relative;
  top: 2px;
}

.box-login-header {
  background-color: mat-color($app-primary);
  color: #FFFFFF;
  padding: 2px 0 0px 0;
}

.btn-login {
  background-color: mat-color($app-primary) !important;
  color: #FFFFFF !important;
}

.box-login-header .mat-card-title {
  margin-top: 7px;
}

.box-login-header .mat-card-title span {
  margin-left: 88px;
}

.body-login {
  width: 100%;
  /*height: 800px;
  background-image: url('assets/images/fundo-login.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom right;*/
  position: absolute;
}

fieldset {
  border: 1px #F2F4F4 solid;
}

fieldset legend {
}

.mat-list-submenu {
  padding-left: 15px !important;
  font-size: 12px !important;
  height: 30px !important;
}

.mat-list-submenu .mat-icon {
  font-size: 16px;
  position: relative;
  top: 3px;
}

.mat-list-menu {
  padding-left: 14px;
  font-size: 13px !important;
  height: 35px !important;
}

.mat-list-item.active {
  background-color: mat-color($app-primary, 50);
}

:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;

  .mat-list-item.active {
    background-color: mat-color($app-primary, 50);
  }

  &:hover,
  &:focus {
    > .mat-list-item:not(.expanded) {
      background-color: mat-color($app-primary, 100) !important;
    }
  }
}

.box-options-register .mat-mini-fab .mat-icon {
  font-size: 14px !important;
}

.box-options-register .mat-mini-fab {
  width: 30px !important;
  height: 30px !important;
  margin-left: 7px !important;
}
.title-page {
  font-size: 14px;
  padding: 0 0 10px 5px;
}
.download-datatable{
  float: right;
  position: relative;
  top: 5px;
}
.download-datatable button .mat-icon{
  font-size: 18px !important;
}
